# Server Environment Variables
PORT=
NODE_ENV=

# Database Connection (MongoDB URI)
MONGODB_URI=

# JWT Authentication Config
JWT_SECRET=
JWT_EXPIRES_IN=

# CORS Allowed Origin (React Frontend)
CORS_ORIGIN=
